    .mainsl-bx{position: relative; width: 100%; height: 100vh;}
    .mainsl{position: absolute;left: 0;
      width: 100%; height: 100%; z-index: -1;}
      .mainsl video{width: 100%; height: 100%; object-fit: cover;}


    .content {
      position: absolute;
      color: white;
      text-align: center;
      top: 50%;left:50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .main-cont-bx{height: 100vh;background: #eee;display: flex;flex-flow: column;justify-content: center;}
    .main-cont-tit{margin:30px 0;}

    .wr-cont1-bx{display: flex;    flex-wrap: wrap; justify-content: space-evenly;}
    .wr-cont1{}
    .wr-cont1-img{border: 1px solid #ddd;width: 250px;height: 250px;}
    .wr-cont1-txt{margin-top:10px; text-align: center;}

    /*2*/
    .swiper.main-bner-area{height:450px; margin-left:15%;max-width: fit-content;}
    .main-bner-bx .swiper-slide{width: 70%;}
    .bner-img{width:100%; display: flex; justify-content: center; align-items: center; height: 100%;}
    .bner-txt{position: absolute; bottom:50px; right:60px;}
    .bner-txt p{font-size:20px; color:#fff;}
    .swiper-button-next.bner-next{right:277px;}
    .swiper-button-prev.bner-prev{background: #ddd;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        color: #aaa;}

   /*3*/
   .main-clean-bx{margin:0 auto; display: flex; flex-flow: column; 
    width: 80%;}

   .main-clean {display: flex; margin:30px 0; }
   .main-clean:nth-child(2n){ flex-flow: row-reverse; }
   .clean-img{width: 100%;
     height: 250px;
     background: #ddd;}
   .main-clean p{text-align: center;}
@media (min-width:1024px){
    /*3*/
    .main-clean-bx{flex-flow: row; justify-content: space-around;position: relative;}
    .main-clean-bx:after { content: ""; clear: both; display: block;
      width: 100%; border-top: 1px solid #fff;position: absolute;top: 300px;left: 0;
  }
    .main-clean {display:block; width: 33.33%;}
    .clean-img{    width: 100%;
      height: 250px;
      background: #ddd;}
    .main-clean p{text-align: center;}
    .main-clean:nth-child(2n){margin-top:300px;}

  }