    .mainsl-bx{position: relative; width: 100%; height: 100vh;}
    .mainsl{position: absolute;left: 0;
      width: 100%; height: 100%; z-index: -1;}
      .mainsl video{width: 100%; height: 100%; object-fit: cover;}


    .content {
      position: absolute;
      color: white;
      text-align: center;
      top: 50%;left:50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    

    .main-cont-bx{padding:70px 0; background: #eee;display: flex;flex-flow: column;justify-content: center;}
    .main-cont-tit{margin:30px 0;}

    .wr-cont1-bx{display: flex;    flex-wrap: wrap; justify-content: space-evenly;}
    .wr-cont1{}
    .wr-cont1-img{border: 1px solid #ddd;width: 250px;height: 250px;}
    .wr-cont1-txt{margin-top:10px; text-align: center;}


    /*1*/
    .main-product{padding:70px 20px;display: flex; flex-wrap: wrap; justify-content: center;         align-items: center;}
    .prod-img{width:100%}
    .prod-img img{width:100%}
    .prod-txt{width:100%;margin-top: 20px;}
    /*2*/
    .swiper.main-bner-area{height:450px; margin-left:15%;max-width: fit-content;}
    .main-bner-bx .swiper-slide{width: 70%;}
    .bner-img{width:100%; display: flex; justify-content: center; align-items: center; height: 100%;}
    .bner-txt{position: absolute; bottom:50px; right:60px;}
    .bner-txt p{font-size:20px; color:#fff;}
    .swiper-button-next.bner-next{right:277px;}
    .swiper-button-prev.bner-prev{background: #ddd;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        color: #aaa;}

   /*3*/

   .main-clean-bx{margin:0 auto; display: flex; flex-flow: column; 
    width: 80%;}

   .main-clean {display: flex; margin:30px 0; }
   .main-clean:nth-child(2n){ flex-flow: row-reverse; }
   .clean-img{width: 100%;}
     .clean-img img{width: 100%;}
   .main-clean p{text-align: center; margin:0;}
   .main-clean span{background: #00f;    z-index: 9;
    position: relative;
    border-radius: 100%; margin:10px auto;
    width: 50px;
    height: 50px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;}

    /* 4 */
    .main-3bx{padding:70px 0;background: url(/img/process-bg.jpg) no-repeat; background-size: cover;}
@media (min-width:1024px){
/*1*/
.main-product{height: 100vh;}
.prod-img{width:50%}
.prod-img img{width:100%}
.prod-txt{width:50%;}
  
    /*3*/
    .main-clean-bx{flex-flow: row; justify-content: space-around;position: relative;}
    .main-clean-bx:after { content: ""; clear: both; display: block;
      width: 100%; border-top: 1px solid #fff;position: absolute;top: 330px;left: 0;
  }
    .main-clean {display:block; width: 33.33%;}
    .clean-img{    width: 100%;}
    .main-clean p{text-align: center; margin-bottom: -3px;}
    .main-clean:nth-child(2n){margin-top:300px;}
    .main-clean:nth-child(2n) .clean-img{margin-top:10px;}

  }