.sub-inner{padding:70px 0;}


.sub_tit{display: flex; justify-content: center; align-items: center;height: 300px;
    background: url(/img/com_bg.png) no-repeat; background-position: center;
    background-size: cover;}
    .sub_tit h1{color:#fff;}
.info_cont_bx{padding:70px 0;}


.information{padding:70px 0; width: 100%;height: 100%;margin: 0 auto;}
.circle {width: 100%; background: #ffffff; border: 10px solid #eeeeee;
    border-radius: 50%; position: relative; height: 100%; padding: calc(50% - 10px) 0; margin: 0 auto;}
.circle.center{background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3E6B4C, #C5DF71) border-box;
    border: 10px solid transparent;}

.circle .inner{flex-direction: column;width: 100%;height: 100%;display: flex;    transform: translate(-50%, -50%);
align-items: center; justify-content: center;position: absolute; top: 50%; left: 50%;}
.circle .inner .icon{width: 115px;}
.circle .inner .icon img{width: 100%;}
.circle .inner hr{height: 20px;margin: 10px 0;width: 1px;background: #333;}

.info-3img{background:url(/img/bner01.jpg) no-repeat; width:100%; height: 500px;}

.info-map-bx{padding:70px 0;}

.imap-tit h2{font-weight:bold;margin:0;}
.imap-tit .stit{font-size:18px;margin:0;}

.imap-txt p{margin-top:10px;margin-bottom: 0;}
.imap-txt span{font-weight: bold;display:block;}

.info-map{margin-top: 30px;}

.partlogo-bx{display: flex;  flex-wrap: wrap;  justify-content: space-evenly;}
.partlogo{margin: 0 auto;}
.partlogo img{border:1px solid #eee; border-radius: 5px; box-shadow:0px 0px 6px -1px rgba(0,0,0,0.2);}

/* 제품소개 */
.product-bx{height:100vh;}
.prd01{background: url(/img/info_bg01.jpg) no-repeat;background-size: cover;}
.prd01-inner{background:#000;opacity: 0.5; width: 100%;height: 100%;}
.prd-inner{height:100%;    display: flex;justify-content: center;flex-flow: column;
    align-items: center;}

    .prd02{background:#f4fff3;}
.eff-bx{display: flex; flex-wrap: wrap; margin-top:50px;}
.eff-bx .eff{width: 100%;box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    margin: 0 15px;}
.eff-txt{padding:20px 15px; background: rgba(255,255,255,0.6);}
.eff-txt .efft-tit{font-weight:bold;font-size:18px;}
@media (min-width:768px) {

/* 제품소개*/
.eff-bx .eff{width: 50%;}
}

@media (min-width:1024px) {
.information{display:flex;}
.circle{width: 33.33%;padding: calc(17% - 10px) 0;}

.info-3img-bx{display: flex; width:1200px; margin:0 auto;}

.imap-inner{display: flex;}
.imap-inner .imap-tit{width: 50%;}

/* 제품소개*/
.prd02{height: 100vh;}

.eff-bx .eff{width: calc(33.33% - 30px);}

.prd03{height:100vh;
    background-color:rgba(0, 80, 20, 0.3);
    background-image: url(/img/prd03-bg.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0 337px}
.prd03 .main-cont-tit{width: 50%;}
.prd03 .prd-inner{flex-flow: row;}
.eff-fd-bx{width:50%; display: flex;}
.eff-fd .eff-img{width: 200px;}
.eff-fd .eff-txt{text-align: center;}
}